@using Anti_Cafe.DAL.Models
@model List<Statuette>
<div id="stlist">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Назва</th>
            <th scope="col">Кількість клієнтів</th>
            <th scope="col">Час заходу</th>
            <th scope="col">Час виходу</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@s.Name</td>
                @if (s.Persons == null)
                {
                    <td><input value="0"/></td>
                }
                else
                {
                    <td>@s.Persons</td>
                }
                @if(s.TimeIn!=null)
                {
                    <td>@s.TimeIn</td>
                    if (s.TimeOut != null)
                    {
                        <td>@s.TimeOut</td>
                    }
                    else
                    {
                        <td>-</td>
                    }

                }
                else
                {
                    <td>-</td>
                    <td>-</td>
                }
                @if(s.InUse==1)
                {
                    <td>Використовується</td>                    
                }
                else
                {
                    <td>Вільний</td>
                }
                    <td><a data-ajax-mode="replace" data-ajax-update="#stlist" data-ajax="true"asp-route-name="@s.Name" asp-action="DeleteStatuette" class="btn btn-primary">Видалити</a></td>
                    <td><a class="btn btn-primary">Змінити</a></td>                    
            </tr>
        }       
    </tbody>
</table>
</div>
<div class="col-4">
    <form class="form-horizontal" action="/Home/CReateStatuette" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#stlist" method="post">
        <div class="form-group">
        <label for="inputPassword" class="control-label col-xs-2">Назва</label>
        <div class="col-xs-10">
                <input name="name" class="form-control" id="inputPassword" placeholder="Створити фігурку">
        </div>
    </div>    
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Створити</button>
        </div>
    </div>    
</form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
